<h1>
    {{ title }}
    <small>
 {{ subtitle }} -  ({{date}})
</small>
</h1>

<div class="row" *ngIf="!candidatos">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados {{ subtitulo }}
        </div>
    </div>
</div>

<div class="column col-md-3 card-candidato" *ngFor="let candidato of candidatos">
    <div class="card animated fadeIn fast">
        <h4 class="card-title" style="text-align: center">{{ candidato.nombre | uppercase }}</h4>
        <img class="card-img-top img-fluid" [src]="candidato.img" [alt]="candidato.nombre">
        <div class="card-block">
            <h6 class="card-title">{{ candidato.nombre }} ({{candidato.cantidadVotos}})</h6>

            <p class="card-text">
                <small class="text-muted">
          </small>
            </p>
            <button (click)="generarVoto(candidato)" type="button" class="btn btn-outline-primary btn-block">
          Votar
        </button>
            <!-- <a [routerLink]="['/candidato', i]" class="btn btn-outline-primary btn-block">Ver más link...</a> -->

        </div>
    </div>

</div>